.input_container {
  margin-bottom: 40px;
}

.count {
  color: var(--text-color-secondary);
  margin: 12px 0;
}

@media screen and (min-width: 720px) {
  .input_container {
    display: flex;
    justify-content: space-between;
  }

  .count {
    flex: 1;
  }

  .input {
    flex: 2;
  }
}
